%h1 Project Commits

%ul.list-group
  - commits.each do |commit|
    %li.list-group-item
      %h3= commit.dig('commit', 'message')
      = "by <i>#{commit.dig('commit', 'committer', 'name')}</i> at #{Time.parse(commit.dig('commit', 'committer', 'date')).to_s(:short)}".html_safe
