---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rubyonrails3/code_review/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a73b9d1ac4d6538326f98041f08b35bbf9405580429a6c665ed0b7675d0f0f40"
      Last-Modified:
      - Mon, 16 Nov 2020 22:35:21 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1605570761'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"97d6b51870e9fdfd1a5927156e87cc4daa18b5ae","node_id":"MDY6Q29tbWl0MzEzNDMyOTg3Ojk3ZDZiNTE4NzBlOWZkZmQxYTU5MjcxNTZlODdjYzRkYWExOGI1YWU=","commit":{"author":{"name":"Ismail
        Akram","email":"ismail@allocator.com","date":"2020-11-16T22:35:21Z"},"committer":{"name":"Ismail
        Akram","email":"ismail@allocator.com","date":"2020-11-16T22:35:21Z"},"message":"Added
        a blank page to view repository commits","tree":{"sha":"c7b2a0acdc9b8c4f16fdb30c32747e9ba0026341","url":"https://api.github.com/repos/rubyonrails3/code_review/git/trees/c7b2a0acdc9b8c4f16fdb30c32747e9ba0026341"},"url":"https://api.github.com/repos/rubyonrails3/code_review/git/commits/97d6b51870e9fdfd1a5927156e87cc4daa18b5ae","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/rubyonrails3/code_review/commits/97d6b51870e9fdfd1a5927156e87cc4daa18b5ae","html_url":"https://github.com/rubyonrails3/code_review/commit/97d6b51870e9fdfd1a5927156e87cc4daa18b5ae","comments_url":"https://api.github.com/repos/rubyonrails3/code_review/commits/97d6b51870e9fdfd1a5927156e87cc4daa18b5ae/comments","author":{"login":"ismailallocator","id":23015024,"node_id":"MDQ6VXNlcjIzMDE1MDI0","avatar_url":"https://avatars2.githubusercontent.com/u/23015024?v=4","gravatar_id":"","url":"https://api.github.com/users/ismailallocator","html_url":"https://github.com/ismailallocator","followers_url":"https://api.github.com/users/ismailallocator/followers","following_url":"https://api.github.com/users/ismailallocator/following{/other_user}","gists_url":"https://api.github.com/users/ismailallocator/gists{/gist_id}","starred_url":"https://api.github.com/users/ismailallocator/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ismailallocator/subscriptions","organizations_url":"https://api.github.com/users/ismailallocator/orgs","repos_url":"https://api.github.com/users/ismailallocator/repos","events_url":"https://api.github.com/users/ismailallocator/events{/privacy}","received_events_url":"https://api.github.com/users/ismailallocator/received_events","type":"User","site_admin":false},"committer":{"login":"ismailallocator","id":23015024,"node_id":"MDQ6VXNlcjIzMDE1MDI0","avatar_url":"https://avatars2.githubusercontent.com/u/23015024?v=4","gravatar_id":"","url":"https://api.github.com/users/ismailallocator","html_url":"https://github.com/ismailallocator","followers_url":"https://api.github.com/users/ismailallocator/followers","following_url":"https://api.github.com/users/ismailallocator/following{/other_user}","gists_url":"https://api.github.com/users/ismailallocator/gists{/gist_id}","starred_url":"https://api.github.com/users/ismailallocator/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ismailallocator/subscriptions","organizations_url":"https://api.github.com/users/ismailallocator/orgs","repos_url":"https://api.github.com/users/ismailallocator/repos","events_url":"https://api.github.com/users/ismailallocator/events{/privacy}","received_events_url":"https://api.github.com/users/ismailallocator/received_events","type":"User","site_admin":false},"parents":[{"sha":"6a17affeda3d8c5f3bbc8c754d45d3d9f37d0a0f","url":"https://api.github.com/repos/rubyonrails3/code_review/commits/6a17affeda3d8c5f3bbc8c754d45d3d9f37d0a0f","html_url":"https://github.com/rubyonrails3/code_review/commit/6a17affeda3d8c5f3bbc8c754d45d3d9f37d0a0f"}]},{"sha":"6a17affeda3d8c5f3bbc8c754d45d3d9f37d0a0f","node_id":"MDY6Q29tbWl0MzEzNDMyOTg3OjZhMTdhZmZlZGEzZDhjNWYzYmJjOGM3NTRkNDVkM2Q5ZjM3ZDBhMGY=","commit":{"author":{"name":"Ismail
        Akram","email":"ismail@allocator.com","date"[...]
